.check-responses {
  width: 100%;
}
.no-responses {
    min-height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #69696973;
    font-size: 36px;
}
