.create-modal {
  width: 540px;
  height: fit-content;
  border-radius: 24px;
  margin-top: 150px;
  background: var(--im-bg-color);
  border-radius: 24px;
  padding: 40px 30px;
  box-shadow: 0px 0px 3.8px 0px #ffffff40;
  border: 1px solid var(--im-border-color);
}
.create-modal > p:nth-child(1) {
  color: var(--text-color);
  font-size: 27.33px;
  font-weight: 600;
}
.create-modal > input {
  width: 100%;
  background: var(--im-input-bg-color);
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 20px;
  color: var(--text-color);
  padding: 15px 25px;
  margin-top: 15px;
}
.cm-btns{
    display: flex;
    text-align: center;
    font-size: 27.33px;
    font-weight: 600;
    margin-top: 30px;
}
.cm-btns > span:nth-child(1){
    color: #4B83FF;
    width: 50%;
    border-right: 1px solid #47474A;
    cursor: pointer;
}
.cm-btns > span:nth-child(2){
    color: var(--text-color);
    width: 50%;
    cursor: pointer;
}